ana_results/DM/Diffuser_200um_core_range_20um_step_100nm_stack_2.tif_ana.csv
ana_results/DM/Diffuser_200um_core_range_20um_step_100nm_stack_1.tif_ana.csv
ana_results/DM/Diffuser_200um_core_range_20um_step_100nm_stack_3.tif_ana.csv
ana_results/LM/stack1_200um_core_range_20um_step_100nm_exposure_9000us.tif_ana.csv
ana_results/LM/stack2_200um_core_range_20um_step_100nm_exposure_9000us.tif_ana.csv
ana_results/LM/stack3_200um_core_range_20um_step_100nm_exposure_9000us.tif_ana.csv
ana_results/LM/variable_exposure_variable_dark_frames_range_200_step_1.tif_ana.csv
ana_results/LM/white_light_range_200_step_1_no_offset.tif_ana.csv
ana_results/LM/whole_circle_aeag_no_offset_single_mode.tif_ana.csv
ana_results/LM/wholw_circle_astigmatism_60_range.tif_ana.csv
ana_results/MM/50um_multi_mode_range_20um_step_100nm.tif_ana.csv
ana_results/MM/50um_multi_mode_range_20um_step_100nm_no_dark_frame.tif_ana.csv
ana_results/MM/Multimode_fibre_range_200_step_1_attempt_1.tif_ana.csv
ana_results/MM/multimode_attempt_1.tif_ana.csv
ana_results/MM/stack4_50um_core_multi_mode_range_20um_step_100nm.tif_ana.csv
ana_results/MM/stack5_50um_multi_mode_range_20um_step_100nm.tif_ana.csv
ana_results/MM/stack6_50um_multi_mode_range_20um_step_100nm_no_dark_frame.tif_ana.csv
ana_results/SM/cv2_normalized_variable_exposure_max_1000_variable_dark_frames_range_201_step_1_attempt_3.tif_ana.csv
ana_results/SM/cv2_normalized_variable_exposure_variable_dark_frames_range_200_step_1.tif_ana.csv
ana_results/SM/offset_2_spot.tif_ana.csv
ana_results/SM/oil_immersion.tif_ana.csv
ana_results/SM/range_200_exposure_15_step_1_stack.tif_ana.csv
ana_results/SM/single_mode_astigmatism_200_range_semicircle_step_1.tif_ana.csv
ana_results/SM/single_mode_range_20um_step_100nm.tif_ana.csv
ana_results/SM/single_mode_range_20um_step_100nm_no_dark_frame.tif_ana.csv
ana_results/SM/single_mode_semicircle_astigmatism.tif_ana.csv
ana_results/SM/stack10_single_mode_range_20um_step_100nm_stack_2.tif_ana.csv
ana_results/SM/stack7_single_mode_range_20um_step_100nm.tif_ana.csv
ana_results/SM/stack8_single_mode_range_20um_step_100nm_no_dark_frame.tif_ana.csv
ana_results/SM/stack9_single_mode_range_20um_step_100nm_no_dark_frame_stack_2.tif_ana.csv
ana_results/SM/step_10_stack.tif_ana.csv
ana_results/SM/test_tif.tif_ana.csv
ana_results_threshold-30/DM/Diffuser_200um_core_range_20um_step_100nm_stack_1.tif_ana.csv
ana_results_threshold-30/DM/Diffuser_200um_core_range_20um_step_100nm_stack_2.tif_ana.csv
ana_results_threshold-30/DM/Diffuser_200um_core_range_20um_step_100nm_stack_3.tif_ana.csv
ana_results_threshold-30/LM/stack1_200um_core_range_20um_step_100nm_exposure_9000us.tif_ana.csv
ana_results_threshold-30/LM/stack2_200um_core_range_20um_step_100nm_exposure_9000us.tif_ana.csv
ana_results_threshold-30/LM/stack3_200um_core_range_20um_step_100nm_exposure_9000us.tif_ana.csv
ana_results_threshold-30/MM/stack4_50um_core_multi_mode_range_20um_step_100nm.tif_ana.csv
ana_results_threshold-30/MM/stack5_50um_multi_mode_range_20um_step_100nm.tif_ana.csv
ana_results_threshold-30/MM/stack6_50um_multi_mode_range_20um_step_100nm_no_dark_frame.tif_ana.csv
ana_results_threshold-30/SM/stack10_single_mode_range_20um_step_100nm_stack_2.tif_ana.csv
ana_results_threshold-30/SM/stack7_single_mode_range_20um_step_100nm.tif_ana.csv
ana_results_threshold-30/SM/stack8_single_mode_range_20um_step_100nm_no_dark_frame.tif_ana.csv
ana_results_threshold-30/SM/stack9_single_mode_range_20um_step_100nm_no_dark_frame_stack_2.tif_ana.csv
data/Res1280/LM/variable_exposure_variable_dark_frames_range_200_step_1.tif
data/Res1280/LM/white_light_range_200_step_1_no_offset.tif
data/Res1280/LM/whole_circle_aeag_no_offset_single_mode.tif
data/Res1280/LM/wholw_circle_astigmatism_60_range.tif
data/Res1280/MM/50um_multi_mode_range_20um_step_100nm.tif
data/Res1280/MM/50um_multi_mode_range_20um_step_100nm_no_dark_frame.tif
data/Res1280/MM/Multimode_fibre_range_200_step_1_attempt_1.tif
data/Res1280/MM/multimode_attempt_1.tif
data/Res1280/SM/cv2_normalized_variable_exposure_max_1000_variable_dark_frames_range_201_step_1_attempt_3.tif
data/Res1280/SM/cv2_normalized_variable_exposure_variable_dark_frames_range_200_step_1.tif
data/Res1280/SM/offset_2_spot.tif
data/Res1280/SM/oil_immersion.tif
data/Res1280/SM/range_200_exposure_15_step_1_stack.tif
data/Res1280/SM/single_mode_astigmatism_200_range_semicircle_step_1.tif
data/Res1280/SM/single_mode_range_20um_step_100nm.tif
data/Res1280/SM/single_mode_range_20um_step_100nm_no_dark_frame.tif
data/Res1280/SM/single_mode_semicircle_astigmatism.tif
data/Res1280/SM/step_10_stack.tif
data/Res1280/SM/test_tif.tif
data/Res256/DM/Diffuser_200um_core_range_20um_step_100nm_stack_1.tif
data/Res256/DM/Diffuser_200um_core_range_20um_step_100nm_stack_2.tif
data/Res256/DM/Diffuser_200um_core_range_20um_step_100nm_stack_3.tif
data/Res256/LM/stack1_200um_core_range_20um_step_100nm_exposure_9000us.tif
data/Res256/LM/stack2_200um_core_range_20um_step_100nm_exposure_9000us.tif
data/Res256/LM/stack3_200um_core_range_20um_step_100nm_exposure_9000us.tif
data/Res256/MM/stack4_50um_core_multi_mode_range_20um_step_100nm.tif
data/Res256/MM/stack5_50um_multi_mode_range_20um_step_100nm.tif
data/Res256/MM/stack6_50um_multi_mode_range_20um_step_100nm_no_dark_frame.tif
data/Res256/SM/stack10_single_mode_range_20um_step_100nm_stack_2.tif
data/Res256/SM/stack11_range_200_exposure_15_step_1_stack.tif
data/Res256/SM/stack7_single_mode_range_20um_step_100nm.tif
data/Res256/SM/stack8_single_mode_range_20um_step_100nm_no_dark_frame.tif
data/Res256/SM/stack9_single_mode_range_20um_step_100nm_no_dark_frame_stack_2.tif
ana_results/NEW/LED_pinhole_25um_range_20um_step_100nm_exposure_12000us_stack_3.tif_ana.csv
ana_results/NEW/LED_pinhole_25um_range_20um_step_100nm_exposure_12000us_stack_1.tif_ana.csv
ana_results/NEW/LED_pinhole_25um_range_20um_step_100nm_exposure_12000us_stack_2.tif_ana.csv
data/Res1280/NEW/LED_pinhole_25um_range_20um_step_100nm_exposure_12000us_stack_1.tif
data/Res1280/NEW/LED_pinhole_25um_range_20um_step_100nm_exposure_12000us_stack_2.tif
data/Res1280/NEW/LED_pinhole_25um_range_20um_step_100nm_exposure_12000us_stack_3.tif
data/Res256/NEW/LED_pinhole_25um_range_20um_step_100nm_exposure_12000us_stack_1.tif
data/Res256/NEW/LED_pinhole_25um_range_20um_step_100nm_exposure_12000us_stack_2.tif
data/Res256/NEW/LED_pinhole_25um_range_20um_step_100nm_exposure_12000us_stack_3.tif
